.ToDo {
    text-align: center;
    width: auto;
    height: auto;
    min-height: 50px;
    margin: auto;
    display: inline-block;
    padding: 10px
}

.ToDo-header {
    background-color: #282c34;
    min-height: 20px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

