.InProgress {
    text-align: center;
    min-height: 50px;
    background-color: #282c34;
    min-height: 20px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.InProgress-header {
    background-color: #282c34;
    min-height: 20px;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
